<!-- app/views/auth.ejs -->
<!docytype html>
<html>
	<head>
		<title>Autenticação do Usuário</title>
		<meta name="viewport" content="width=device-width">
		<meta charset="UTF-8">
		<!-- build:css css/auth.min.css -->
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
		<!-- endbuild -->
		<style>body { background-color: #c1c1a4; }</style>		
	</head>
	<body>
		<div class="container">
			<p style="text-align:center;"><img src="images/logo.png"></p>
			<a href="/auth/github">
				<h1 class="text-center">Entre pelo GitHub</h1>
			</a>
		</div>
	</body>
</html>
